<!DOCTYPE html>
<html ng-app="userApp">
    <head>
        <title>ITExpert - task 2 AngularJS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1>ITExpert - task 2 AngularJS</h1>
        <hr>
        </div>
    </div><!-- /h1 -->

<!-- Sotrudniki -->      
<div class="row" ng-controller="UsersCtrl">
    <div class="col-md-8" >
        <strong><h2>Сотрудники</h2></strong>
        <div id="users_list">
            <table class="table"> 
                <thead> 
                    <tr> 
                        <th>user_id</th> 
                        <th>nickname</th> 
                        <th>super_user</th>
                        <th></th>
                    </tr> 
                </thead> 
                <tbody ng-repeat="user in users"> 
                    <tr  ng-if='user != activeUser'> 
                        <td>{{ user.user_id }}</td> 
                        <td>{{ user.nickname }}</td> 
                        <td>{{ user.super_user }}</td>
                        <td><a class='btn btn-primary' href='' ng-click='edit(user)'> изменить </a><a class='btn btn-danger' href='' ng-click='delete(user)'> удалить </a></td>
                    </tr> 
                    <tr ng-if='user == activeUser'> 
                        <td><input class='form-control' ng-model='user.user_id' type='text'></td> 
                        <td><input class='form-control' ng-model='user.nickname' type='text'></td> 
                        <td><input class='form-control' ng-model='user.super_user' type='text'> </td> 
                        <td><a class='btn btn-primary' href='' ng-click='update(user)'> обновить </a></td>
                    </tr>
                </tbody> 
            </table> 
        </div>
    </div>
    <div class="col-md-4">
        <strong><h2>Добавление сотрудника</h2></strong>
        <form role='form' novalidate role='form'  name='userForm' > 
            <div class='form-group'> 
                <label for='name'>nickname:</label> 
                <input class='form-control' ng-model='newUser.nickname' type='text' required>
                <span class='help-block' ng-show='userForm.nickname.$error.required'>Поле nickname обязательно к заполнению</span> 
            </div> 
            <div class='form-group'> 
                <label for='age'>super_user</label> 
                <input class='form-control' ng-model='newUser.super_user' type='text'> 
            </div> 
            <button class='btn btn-primary' ng-click='create()' ng-disabled='userForm.$invalid'>Save</button> 
        </form>
    </div> 
</div>
<div class="row">
           
</div>
<div class="row">
    <div class="col-md-12"><hr></div>        
</div>
<!-- /Sotrudniki -->

</div><!-- /container -->


<!-- .modal-dialog -->
<form action="" id="modalForm">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Редактирование</h4>
      </div>
      <div class="modal-body" id="modal_form_user">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveBtn">Сохранить</button>
      </div>
    </div>
  </div>
</div>
</form>
<!-- /.modal -->

        <script src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.jgrowl.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <!--<script src="js/angular-route.min.js"></script>
        
         AngularJS Application Specific Scripts -->
        <script src="app/app.js"></script>
        <script src="app/controllers/usersCtrl.js"></script>
    </body>
</html>